@charset "UTF-8";

/*요점정리 index page 입니다*/
.wrap {
	margin: 0 auto;
	width: 1200px;
}

.TopBox {
    margin-top: 6px;
    margin-bottom: 3px;
    display: inline-block;
    width: 1198px;
    height: 100px;
}

.pimage {
    display: inline-block;
    width: 300px;
    height: 95px;
    background-color: black;
}

.psearch {
    display: inline-block;
    width: 500px;
    height: 98px;
    background-color: purple;
}

.plogBox {
    display: inline-block;
    width: 386.5px;
    height: 97px;
    background-color: green;
}

..MildBox {
    width: 1200px;
    height: 833px;
}

.pMenuBar {
    width: 1199px;
    height: 88px;
    background-color: green;
}

.pShowBox {
    margin-top: 10px;
    height: 300px;
    background-color: #e9e9e9;
}

.pViewer {
    margin-top: 10px;
    display: inline-block;
    width: 600px;
    height: 514px;
    background-color: pink;
}

.abx:nth-of-type(1){
	display:block;
}

.abx{
	width:600px;
	height:200px;
	border:1px solid blue;
	display:none;
}


.pTopicBox {
    display: inline-block;
    float: right;
    width: 592px;
    height: 512px;
    background-color: blue;
    margin-top: 12px;
}

.BottonBox {
    width: 1200px;
    height: 414px;
}

.coperBox {
    margin-top: 13px;
    width: 1200px;
    height: 100px;
    background-color: darkblue;
}

.pFooter {
    height: 300px;
    background-color: orange;
    margin-top: 13px;
}


.TopViewer > li {
	list-style: none;
}

ul.TopViewer {
    text-align: center;
    height: 100px;
    /* margin: 0; */
    width: 598px;
    padding: 0;
}

.TopViewer > li {
    text-align: center;
    height: 59px;
    width: 124px;
    display: inline-block;
    list-style: none;
    margin-top: 10px;
    border: 2px solid #e9e9e9;
    cursor: pointer;
}

.poliDiv {
    padding: 0 auto;
    margin: 0 auto;
    width: 534px;
    height: 379px;
    border: 1px solid;
    display: block;
}
