@charset "UTF-8";
/* 배경이미지 */
.backImg{
	width			: 1000px;
	height			: 700px;
	position		: relative;  
}

/* 전체 영역 */
.backArea{
	width			: 800px;
	height			: 650px;
	position		: absolute;
	top				: 188px;
	left			: 250px;
	opacity			: 0.6;
	background-color: white;
	border-radius	: 5px;
}

.teamArea{
	width			: 800px;
	height			: 650px;
	margin			: 0 auto;
	border			: 1px solid black;
	border-radius	: 5px;
	position		: absolute;
	top				: 188px;
	left			: 250px;
	float			: left;
	overflow		: hidden; 	
}

/* 상단 1,2부 구분 */
.teamLeague{
	display		: inline-block;
	width		: 200px;
	height		: 50px;
	line-height	: 50px;
	overflow	: hidden;
	float		: left;	
	text-align	: center;
	font-family : 나눔고딕;
	font-weight : bold;
	font-size	: 20px; 
}

.teamLeague p{
	display		: inline-block;
	margin		: 0; 
}

.teamLeague:hover{
	color				: gold;
	background-color 	: forestgreen;
	border-radius		: 5px; 	
}

/* 엠블럼 영역 */
.teamLogo{
	width		: 800px;
	height		: 600px;
	margin		: 0 auto;
	float		: left;
}

.teamLogo label{
	width	: 152px;
	height	: 141px;
}

.teamLogo label p{
	text-align	: center;
	font-family	: 나눔고딕;
	font-weight	: bold;
	font-size	: 17px;
	margin		: 0 auto;
	height		: 51px;
	line-height	: 51px;  
}

/* 엠블럼 이미지 영역 */
.embImg0{
	width		: 152px;
	height		: 141px;
	border		: 1px solid black;
	margin-top	: 5px;
	margin-left	: 5px;
	float		: left; 
	display		: none;	
	overflow	: hidden; 
}

.embImg0 img {
	width		: 80px;
	height		: 80px;
	display		: table-cell;
	margin		: 0 auto;
	margin-top	: 10px;
}

.embImg1{
	width		: 152px;
	height		: 141px;
	border		: 1px solid black;
	margin-top	: 5px;
	margin-left	: 5px;
	float		: left; 
	display		: none;	
	overflow	: hidden; 
}

.embImg1 img {
	width		: 80px;
	height		: 80px;
	display		: table-cell;
	margin		: 0 auto;
	margin-top	: 10px;
}